<h3>Register new user</h3>

<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <div class="form-group col-6 m-2">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      required
      [(ngModel)]="user.name"
      name="name"
      #name="ngModel"
    />
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert p-error">
      <div *ngIf="name.errors?.['required']">Name is required.</div>
    </div>
  </div>

  <div class="form-group col-6 m-2">
    <label for="emailAddress">email Address</label>
    <input
      class="form-control"
      id="emailAddress"
      required
      [(ngModel)]="user.email"
      name="emailAddress"
      type="email"
      [email]="true"
    />
  </div>

  <div class="form-group col-6 m-2">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      [(ngModel)]="user.password"
      name="password"
      required
    />
  </div>
  
  <div class="form-group col-6 m-2">
    <label for="mobileNumber">Mobile Number</label>
    <input
      class="form-control"
      id="emailAddress"
      required
      [(ngModel)]="user.mobilePhone"
      name="mobileNumber"
      type="text"
      minlength="11"
      maxlength="11"
    />
  </div>

  <button
    type="submit"
    class="btn btn-success m-3"
    [disabled]="!registerForm.form.valid"
  >
    Submit
  </button>
</form>
